@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@300;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}
:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
}
body {
  background-color: var(--primary-color);
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}

.search {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #ffff;
  font-family: inherit;
}

.search:focus {
  outline: 0;
  background-color: var(--primary-color);
}
.search::placeholder {
  color: #7378c5;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie {
  width: 300px;
  border-radius: 3px;
  margin: 1rem;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.movie img {
  width: 100%;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #eee;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0px;
}
.movie-info span {
  background-color: var(--primary-color);
  border-radius: 3px;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffff;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

